<div class="row">
    <div class="col-md-3">
        <ul>
            <li>
                <a routerLink="web">Web setting</a>
            </li>
            <li>
                <a routerLink="mobile">Mobile setting</a>
            </li>
            <li>
                <a routerLink="/products">All products </a>
            </li>

        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>

<!-- localgost:4300/setting
localgost:4300/setting/web
localgost:4300/setting/mobile 

-->